//universal selector for resetting
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Brush Script MT", cursive;
}

//color palette
$primary-1: #34495e;
$primary-2: #6c7e8f;
$primary-3: #4a6075;
$primary-4: #20374d;
$primary-5: #10253a;
