
// .chat-Area-container{
//     background-color: aqua;
//     height: 10%;
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;

// }

.chat-container{
    padding-top: 8px;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    gap: 0.3rem;
    overflow: hidden;  
}
.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    .chatDetails{
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  .chatMessages {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0.2rem;
      &-thumb {
        background-color: #ffffff39;
        width: 0.1rem;
        border-radius: 1rem;
      }
    }
    .message {
      display: flex;
      align-items: center;
      .content {
        max-width: 40%;
        overflow-wrap: break-word;
        padding: 1rem;
        font-size: 1.1rem;
        border-radius: 1rem;
        color: #d1d1d1;
        @media screen and (min-width: 720px) and (max-width: 1080px) {
          max-width: 70%;
        }
      }
    }
    .send {
      justify-content: flex-end;
      .content {
        background-color: #4f04ff21;
      }
    }
    .receive {
      justify-content: flex-start;
      .content {
        background-color: #9900ff20;
      }
    }
  }

