.msg-bar-container{
    display: flex;
    justify-content: center;
    .msg-bar-form{
        input{
            width: 42rem;
            height: 2rem;
        }
        button{
            width: 10rem;
            height: 2rem;
        }
    }
}