
.signup-form-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;

    .signup-form-field{
        height: 100%;
        width: 20%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .signup-inputs-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;

        }
    }
}